{% extends "base.html.twig" %}


{% block body %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %} <!--Pour utiliser le template form bootstrap-->


    <h1>Création d'un article</h1>
    
    {{ form_start(formArticle) }}
    
    {{ form_row(formArticle.title, {'attr' : {"placeholder" : " titre de l'article"}}) }} <!--Va rajouter un attribut placeholder a title-->
    {{ form_row(formArticle.content, {'attr' : {"placeholder" : "contenu de l'article"}}) }}
    {{ form_row(formArticle.image, {'attr': {"placeholder" : "rentrez l'url de l'image"}}) }}

    <button type="submit" class="btn btn-success">Ajouter l'article</button> 
    {{ form_end(formArticle) }}
    
{% endblock body %}